<div class="contents">
  <div class="ribbon">
    <h3>新規登録</h3>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <br>
    <div class="form-field">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-control" %>
    </div>

    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      (<%= @minimum_password_length %> 文字以上)
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "登録", class: "btn btn-orange btn-sm" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<style>
body {
  text-align: center;
}
.contents {
  margin: 0 auto;
  margin-top: 80px;
}
.form-field {
  margin-bottom: 5px;
}

.ribbon {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;/*フォントサイズ*/
  background: #ffc54d;/*背景色*/
  color: #fff;/*文字色*/
  box-sizing: border-box;
  width: 200px;
}

.ribbon h3 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 1px #fff;/*上の破線*/
  border-bottom: dashed 1px #fff;/*下の破線*/
  line-height: 46px;
}

.ribbon:before, .ribbon:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon:before {
  /*左端の山形*/
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon:after {
  /*右端の山形*/
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}
</style>