<div class="images_area crearfix">
	<label>レポート写真</label><p>*10枚まで投稿可能です。</p>
	<%= f.file_field :images, multiple: true, id: :imgInp %>
	<output id="list"></output>
</div>

<div class="star_area">
	<div id="star"></div>
	<div id="hint" hidden></div>
	<%= f.hidden_field :review, id: "review" %>
	<br>
</div>

<div class="form_area">
	<label>タイトル</label>
	<%= f.text_field :title, class: "form-control", required: "true" %><br>
	<label>本文</label>
	<%= f.text_area :body, id: "memo_text", cols: "25", rows: "5", class: "form-control" %>
	残<span class="count"></span><br>
	<label id="used_at_label">利用日</label>
	<%= f.date_field :used_at, id: "used_at", class: "form-control" %><br>
</div>

<div class="form_area">
	<label>店名</label>
	<%= f.text_field :shop_name, id: "shop_name", class: "form-control" %><br>
	<label>住所</label>
	<%= f.text_field :shop_address, id: "shop_address", class: "form-control" %><br>
	<label>URL</label>
	<%= f.text_field :url, id: "shop_url", class: "form-control" %><br>
	<label>価格帯</label>
	<%= f.collection_select :price_id, Price.all, :id, :price_range %><br>
	<%= f.check_box :status, {}, :draft, :published %>
	<label>下書きに保存</label>

	<!-- place_idの保存 -->
	<%= f.hidden_field :shop_map, id: "shop_map" %>
	<!-- 緯度(latitude)の保存 -->
	<%= f.hidden_field :latitude, id: "latitude" %>
	<!-- 経度(longitude)の保存 -->
	<%= f.hidden_field :longitude, id: "longitude" %>
</div>

<br>

<div class="form_area">
	<p>*マップでお店情報を検索すると、店名、住所が自動入力されます。</p>
</div>

<div class="pac-card" id="pac-card">
	<input id="pac-input" type="text" placeholder="Enter a location" required>
</div>

<!-- GoogleMap情報 -->
<div id="map"></div>

<div id="infowindow-content">
	<img src="" width="16" height="16" id="place-icon">
	<span id="place-name"  class="title"></span><br>
	<span id="place-address"></span>
</div>

<script>
/////////////////////////// レビュー ///////////////////////////
  $('#star').raty({
    half     : true,
    size     : 36,
    starHalf : '/images/star-half.png',
    starOff  : '/images/star-off.png',
    starOn   : '/images/star-on.png',
    target    : '#hint',
    targetType: 'number',
    targetKeep: true,
    click: function(score) {
      $("#review").val(score);
    }
  });

/////////////////////////// 文字数カウント ///////////////////////////
  $(function(){
    let text_max = 1000;
    $(".count").text(text_max - $("#memo_text").val().length);

    $("#memo_text").on("keydown keyup keypress change",function(){
      let text_length = $(this).val().length;
      let countdown = text_max - text_length;
      $(".count").text(countdown);

      if(countdown < 0){
        $('.count').css({
          color:'#ff0000',
          fontWeight:'bold'
        });
      } else {
        $('.count').css({
          color:'#000000',
          fontWeight:'normal'
        });
      }
    });
  });

/////////////////////////// 画像プレビュー ///////////////////////////
  document.getElementById('imgInp').onchange = function(event) {
    initializeFiles();

    let files = event.target.files;

    for (let i = 0, f; f = files[i]; i++) {
      let reader = new FileReader();

      reader.readAsDataURL(f);

      reader.onload = (function(theFile) {
        return function(e) {
          let div = document.createElement('div');
          div.className = 'reader_file';
          div.innerHTML = '<div class="reader_title">' + encodeURIComponent(theFile.name) + '</div>';
          div.innerHTML += '<img class="reader_image" src="' + e.target.result + '" />';
          document.getElementById('list').insertBefore(div, null);
        }
      })(f);
    }
  };

  function initializeFiles() {
    document.getElementById('list').innerHTML = '';
  };
</script>

<style>
  .edit_img {
    height: 150px;
    margin-right: 10px;
  }

  .reader_file {
    float: left;
  }
  .reader_image {
    height: 150px;
    margin-right: 10px;
  }

  .form-control {
    width: 250px;
  }

  .form_area {
    float: left;
    margin-right: 50px;
  }

  .star_area {
    clear: both;
  }

  #map {
    height: 400px;
    width: 600px;
  }

  #description {
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }

  #target {
    width: 345px;
  }
</style>