<% if flash[:warning] %>
    <p class="alert alert-danger"><%= flash[:warning] %></p>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1>新規投稿</h1>
            <br>
            <br>
            <div class="images-field clearfix">
                <%= form_with model: @post, local: true  do |f| %>
                    <label>レポート写真</label>
                    <%= f.file_field :images, multiple: true, class: "file-input", id: :imgInp %>
                    <output id="list"></output>
                    <br>

                    <% if @post.images.attached? %>
                        <% @post.images.each do |image| %>
                            <%= image_tag image.variant(resize: "200x200") %>
                    	<% end %>
                    <% end %>
                    <br>
                    <label>タイトル</label>
                    <%= f.text_field :title %><br>
                    <label>本文</label>
                    <%= f.text_area :body %><br>
                    <label>価格帯</label>
                    <%= f.collection_select :price_id, Price.all, :id, :price_range %>

                    <div class="field">
                        <label>行ったお店</label>
                        <%= f.radio_button :status, :report %>
                        <label>行きたいお店</label>
                        <%= f.radio_button :status, :list %>
                    </div>
                    <%= f.submit "投稿" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('imgInp').onchange = function(event) {
        initializeFiles();

        var files = event.target.files;

        for (var i = 0, f; f = files[i]; i++) {
            var reader = new FileReader();
            reader.readAsDataURL(f);

            reader.onload = (function(theFile) {
                return function(e) {
                    var div = document.createElement('div');
                    div.className = 'reader_file';
                    div.innerHTML = '<div class="reader_title">' + encodeURIComponent(theFile.name) + '</div>';
                    div.innerHTML += '<img class="reader_image" src="' + e.target.result + '" width="150px" />';
                    document.getElementById('list').insertBefore(div, null);
                }
            })(f);
        }
    };

    function initializeFiles() {
        document.getElementById('list').innerHTML = '';
    }

// $(function(){
//   //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
//   $('form').on('change', 'input[type="file"]', function(e) {
//     var file = e.target.files[0],
//         reader = new FileReader(),
//         $preview = $(".preview");
//         t = this;

//     // 画像ファイル以外の場合は何もしない
//     if(file.type.indexOf("image") < 0){
//       return false;
//     }

//     // ファイル読み込みが完了した際のイベント登録
//     reader.onload = (function(file) {
//       return function(e) {
//         //既存のプレビューを削除
//         $preview.empty();
//         // .prevewの領域の中にロードした画像を表示するimageタグを追加
//         $preview.append($('<img>').attr({
//                   src: e.target.result,
//                   width: "150px",
//                   class: "preview",
//                   title: file.name
//               }));
//       };
//     })(file);

//     reader.readAsDataURL(file);
//   });
// });
</script>