<% if flash[:success] %>
    <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<%= link_to user_path(@post.user) do %>
        		<%= @post.user.user_name %>
        	<% end %>
        	<br>

			<% if @post.report? %>
				<div class="status report">行ったお店</div>
			<% else %>
				<div class="status list">行きたいお店</div>
			<% end %>

			<% if @post.images.attached? %>
			  <% @post.images.each do |image| %>
			    <%= image_tag image %>
			  <% end %>
			<% else %>
				<%= image_tag("noimage.gif") %>
			<% end %>

			<div class="col-md-8">
				<label>タイトル</label>
				<%= @post.title %><br>
				<label>本文</label>
				<!-- posts_helperに記載 -->
				<%= render_with_hashtags(@post.body) %><br>
				<% if @post.report? %>
	                <label>利用日</label>
	                <%= @post.used_at %><br>
                <% end %>
                <label>店名</label>
                <%= @post.shop_name %><br>
                <label>住所</label>
                <%= @post.shop_address %><br>
                <label>URL</label>
                <%= link_to "#{@post.url}", @post.url %><br>
                <label>価格帯</label>
                <%= @post.price.price_range %>
			</div>

			<br>
			<br>

			<div class="col-md-8">
				<%= link_to "編集", edit_post_path(@post.id) %> | <%= link_to "削除", post_path, method: :delete, "data-confirm" => "削除しますか？" %>
			</div>
		</div>
	</div>
</div>
<iframe width="600" height="450" frameborder="0" style="border:0" src="" allowfullscreen></iframe>
<style>
	img {
		float: left;
		height: 200px;
		margin: 5px;
	}

	.status {
		color: #fff;
		border-radius: 10px;
		width: 120px;
		text-align: center;
	}
	.report {
		background-color: #c090cc;
	}
	.list {
		background-color: #90c9cc;
	}
</style>