<% if flash[:success] %>
    <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<%= link_to user_path(@post.user) do %>
        		<%= @post.user.user_name %>
        	<% end %>
        	<br>

			<% if @post.images.attached? %>
			  <% @post.images.each do |image| %>
			    <%= image_tag image %>
			  <% end %>
			<% else %>
				<%= image_tag("no_image.jpg", size: "200x200") %>
			<% end %>


			<div class="col-md-8">
				<label>タイトル</label>
				<%= @post.title %>
				<label>本文</label>
				<%= render_with_hashtags(@post.body) %>
			</div>


			<br>
			<br>

			<div class="col-md-8">
				<%= link_to "編集", edit_post_path(@post.id) %> | <%= link_to "削除", post_path, method: :delete, "data-confirm" => "削除しますか？" %>
			</div>
		</div>
	</div>
</div>

<style>
	img {
		float: left;
		height: 200px;
		margin: 5px;
	}
	.content {

	}
</style>