<!DOCTYPE html>
<html>
  <head>
    <title>Report</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


    <script></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">Portfolio</div>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>

          <% if user_signed_in? %>
            <li><%= link_to "MyPage", user_path(current_user) %></li>
            <li><%= link_to "Favorites", favorites_index_path %></li>
            <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
            <li id="user_name">
              <%= current_user.user_name %>
              <span> 様   </span>
              <span>ログイン中</span>
            </li>

          <% else %>

            <li><%= link_to "LogIn", new_user_session_path %></li>
            <li><%= link_to "SignUp", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>